{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'app_name_taxonomy_list' %}">Taxonomy Listing</a></p>
<table class="table">
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>term</td><td>{{ object.term }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Taxonomy</a>

{% endblock %}