{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'comment_list' %}">Comment Listing</a></p>
<table class="table">
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>email</td><td>{{ object.email }}</td></tr>
<tr><td>comment</td><td>{{ object.comment }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Comment</a>

{% endblock %}